<web-app>
     <servlet>
        <servlet-name>five</servlet-name>
        <servlet-class>AccountOpeningServlet</servlet-class>
     </servlet>

     <servlet-mapping>
         <servlet-name>five</servlet-name>
		<url-pattern>/open</url-pattern>
     </servlet-mapping>

     <welcome-file-list>
       <welcome-file>openaccount.html</welcome-file>
     </welcome-file-list>
</web-app>
